/*
	home - red			- #7a0e0e, #5a0b0b
	register - blue		- #0c3647, #011722, #01404f
	news - orange		- #cb4800
	about - green		- #0f5959
	contact - purple	- #5a1846
*/

/*
	DONE
		contact info reverted with map enabled
		loading spinners for each section
		aditional text editing
		video added to about
		solved design issues for smaller devices regarding navbar display and images***

	TODO

		back navigation
		animations
		smaller images for mobile and mobile parallax
		colored links on hover in navbar
*/

/* HEADER */

.navbar-header {
	width: 100%;
}

.navbar-nav {
    margin: 0;
    padding: 10px;
}

.navbar-header div {
	position: relative;
	float: left;
}

.navbar .container .navbar-header .navbar-brand {
	margin-left: 0;
}

.navbar-collapse.in {
	overflow-y: visible;
}

.navbar-brand h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-default .navbar-toggle {
	border-color: black;
	border-width: 0px;
	width: 50px;
	height: 50px;
	margin-right: 0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #333333;
    width: 100%;
    height: 10%;
}

li h2 {
	text-align: center;
}

#header-nav {
	margin-bottom: 0;
}

#logo-img {
	background: url('../img/mw-logo-red.svg') no-repeat;
	background-size: 50px 50px;
	background-position: center;
	width: 50px;
	height: 50px;
	margin: 10px 15px 10px 15px;
}

#collapsable-nav ul {
	padding: 0;
}

li a h2 {
	margin-top: 10px;
}

/* END HEADER */



/* FOOTER*/

.panel-footer {
	background-color: #333333;
	color: white;
}

.footer-part {
	height: 100%;
	text-align: center;
}

.footer-part hr {
	width: 80%;
}

.footer-part div a, .footer-part div a:hover, .footer-part div a:focus {
	text-decoration: none;
	color:white;
}

#footer-contact-text {
	margin-top: -25px;
}

#contact-element {
	width: 90%;
	margin: auto;
}

/* END FOOTER */



/* OTHER */

.container {
	margin: auto;
}

body {
	font-family: Roboto, sans-serif;
}

#main-content {
	width: 100%;
}

#main-content>div {
	width: 100%;
}

h1, h2, h3 {
	font-family: 'Lobster', cursive;
	text-align: center;
	color: #333333;
}

h4, h5 {
	font-family: 'Lobster', cursive;
	font-size: 130%;
}

a, a:hover, a:focus {
  text-decoration: none;
  color: inherit;
  display: block;
}

a span {
	position: absolute; 
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.no-pad {
	padding: 0;
}

.loader {
	text-align: center;
}

#mw {
	background: url('../img/background-mw.jpg') no-repeat;
	height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    font-size: 130%;
    text-align: justify;
    line-height: 175%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 15%;
    padding-right: 15%;
    color: white;
    margin: auto;
}

#mw-logo {
	background: url('../img/mw-logo-white.svg') no-repeat;
	background-size: 100px 100px;
	background-position: center;
	width: 100px;
	height: 100px;

    margin: auto;
    margin-bottom: 40px;
}

#texts {
    font-size: 130%;
    text-align: justify;
    line-height: 175%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 15%;
    padding-right: 15%;
    margin: auto;
}

#info {
	background: url('../img/background-info.jpg') no-repeat;
	height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    font-size: 130%;
    text-align: justify;
    line-height: 175%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 15%;
    padding-right: 15%;
    color: white;
    margin: auto;
}

#mw h4, #contact h4 {
	text-align: center;
	font-size: 250%;
	line-height: 150%;
	padding-bottom: 15px;
}

#mw h5 {
	text-align: center;
}

#mw-link, #register-link {
	width: 45%;
	margin-top: 50px;
	border-radius: 5px;
	text-align: center;
	height: 45px;
	line-height: 45px;
	font-weight: bold;
	background-color: white;
	padding: 0;
}

#mw-link {
	color: #5a0b0b;
}

#register-link {
	color: #01404f;
}

.mw-text-left, .register-text-left {
	padding-left: 0;
	padding-right: 0;
	margin-right: 5%;
	width: 45%;
}

.mw-text-right, .register-text-right {
	padding-left: 0;
	padding-right: 0;
	margin-left: 5%;
	width: 45%;
}

.register-text-left, .register-text-right {
	padding-top: 150px;
}

.mw-link-left, .register-link-left {
	margin-right: 5%;
}

.mw-link-right, .register-link-right {
	margin-left: 5%;
}

#texts-fb-logo-img {
	background: url('../img/fb-logo-red.svg') no-repeat;
	background-size: 50px 50px;
	background-position: center;
	height: 50px;
	margin: auto;
	margin-top: 20px;
}

#texts-tw-logo-img {
	background: url('../img/tw-logo-red.svg') no-repeat;
	background-size: 50px 50px;
	background-position: center;
	height: 50px;
	margin: auto;
	margin-top: 20px;
}

#texts-link {
	color: white;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 5px;
	text-align: center;
	height: 45px;
	line-height: 45px;
	background-color: #7a0e0e;
}

#texts-center {
	text-align: center;
}

#info-link {
	color: #5a0b0b;
	margin-top: 50px;
	border-radius: 5px;
	text-align: center;
	height: 45px;
	line-height: 45px;
	font-weight: bold;
	background-color: white;
}

#register {
	background: url('../img/background-register.jpg') no-repeat;
	height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    font-size: 130%;
    text-align: justify;
    line-height: 175%;
    text-align: justify;
    color: white;
    margin: auto;
    padding-bottom: 150px;
    padding-left: 15%;
    padding-right: 15%;
}

#news {
	background: url('../img/background-news.jpg') no-repeat;
	height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    font-size: 130%;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 120px;
    padding-left: 15%;
    padding-right: 15%;
    color: white;
    margin: auto;
}

#news-piece {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: 30px;
	color: white;
	border-radius: 5px;
	border: 2px solid white;
	background-color: rgba(255, 255, 255, 0.1);
}

#news-piece:hover {
	color: #333333;
	background-color: white;
}

#news-piece-title {
	font-size: 120%;
	margin-bottom: 10px;
}

#news-piece-subtitle {
	font-size: 80%;
}

#about {
	background: url('../img/background-about.jpg') no-repeat;
	height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    font-size: 130%;
    text-align: justify;
    line-height: 175%;
    padding-top: 150px;
    padding-bottom: 100px;
    padding-left: 15%;
    padding-right: 15%;
    color: white;
    margin: auto;
}

.about-p, .article-p {
	text-align: justify;
	padding-bottom: 50px;
}

#about-mid, #article-paragraph-mid {
	padding-left: 20%;
	padding-right: 20%;
}

#about-left, #article-paragraph-left {
	padding-right: 40%;
}

#about-right, #article-paragraph-right {
	padding-left: 40%;
}

#about-video {
	position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

#about-video iframe {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#team, #companies {
	padding-top: 100px;
    padding-bottom: 100px; 
}

.person, .company {
	padding-top: 20px;
	padding-bottom: 20px;
}

.profile-name {
	font-size: 150%;
	font-style: bold;
	padding-top: 15px;
	padding-bottom: 15px;
}

.profile-name, .profile-description {
	text-align: center;
}

.company-logo {
	background: url('../img/profile-company.jpg') no-repeat;
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
    background-position: center;
	margin: auto;
}

.directors {
	background: url('../img/profile-directors.jpg') no-repeat;
    background-size: 200px 200px;
    width: 200px;
    height: 200px;
    background-position: center;
	margin: auto;
}

.employees {
	background: url('../img/profile-employees.jpg') no-repeat;
    background-size: 150px 150px;
    width: 150px;
    height: 150px;
    background-position: center;
	margin: auto;
}

#contact {
	background: url('../img/background-contact.jpg') no-repeat;
	height: 100%;
    background-attachment: fixed;
    background-position: left;
    background-size: cover;

	font-size: 130%;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
    color: white;
    margin: auto;
}

#map {
	padding-top: 150px;
	padding-left: 10%;
	padding-right: 10%;
}

#fb-logo-img {
	background: url('../img/fb-logo-white.svg') no-repeat;
	background-size: 50px 50px;
	background-position: center;
	margin: auto;
	padding: 30px;
}

#tw-logo-img {
	background: url('../img/tw-logo-white.svg') no-repeat;
	background-size: 50px 50px;
	background-position: center;
	margin: auto;
	padding: 30px;
}

.article {
	font-size: 130%;
	text-align: justify;
	line-height: 175%;
	padding-top: 150px;
	padding-bottom: 100px;
	padding-left: 15%;
	padding-right: 15%;
	color: white;
	margin: auto;
}

#mw-article {
	background: url('../img/background-article-1.jpg') no-repeat;
	/*height: 100%;*/
    background-attachment: fixed;
    background-position: center;
    /*background-size: cover;*/
    background-size: auto 100vh;
}

#values-article {
	background: url('../img/background-article-2.jpg') no-repeat;
	/*height: 100%;*/
    background-attachment: fixed;
    background-position: right;
    /*background-size: cover;*/
}

#research-article {
	background: url('../img/background-article-3.jpg') no-repeat;
	/*height: 100%;*/
    background-attachment: fixed;
    background-position: right;
    /*background-size: cover;*/
    background-size: 100%;
}

#references {
	font-size: 70%;
}

/* END OTHER */

/* ANIMATIONS */

.slideUp {
	position: relative;

	animation-name: slideUp;
	-webkit-animation-name: slideUp;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
	
	-webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -ms-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    opacity: 1 !important;
}

@keyframes slideUp {
	0% {
		opacity: 0;
		top: 40px;
	}
	100% {
		opacity: 1;
		top: 0px;
	}	
}

@-webkit-keyframes slideUp {
	0% {
		opacity: 0;
		top: 40px;
	}
	100% {
		opacity: 1;
		top: 0px;
	}	
}

/* MEDIA */

@media (min-width: 1200px) { /* LG */
	#collapsable-nav ul {
		display: none;
	}

	.footer-img-mobile {
		background: url('../img/mobile-call-white.svg') no-repeat;
	}

	.footer-img-phone {
		background: url('../img/phone-call-white.svg') no-repeat;
	}

	.footer-img-email {
		background: url('../img/email-white.svg') no-repeat;
	}

	.footer-img {
		background-size: 15px 15px;
		height: 15px;
		background-position: center;
		margin: auto;
		padding: 15px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) { /* MD */
	#collapsable-nav ul {
		display: none;
	}

	.footer-img-mobile {
		background: url('../img/mobile-call-white.svg') no-repeat;
	}

	.footer-img-phone {
		background: url('../img/phone-call-white.svg') no-repeat;
	}

	.footer-img-email {
		background: url('../img/email-white.svg') no-repeat;
	}

	.footer-img {
		background-size: 15px 15px;
		height: 15px;
		background-position: center;
		margin: auto;
		padding: 15px;
	}
}

@media (min-width: 768px) and (max-width: 991px) { /* SM */
	body {
		padding-top: 67px;
	}

	.navbar-brand h1 {
  		font-size: 30px;
	}

	#mw-link, #register-link {
		margin: auto;
		width: 100%;
		margin-top: 50px;
	}

	.mw-text-left, .register-text-left {
		padding-left: 0;
		padding-right: 0;
		margin: auto;
		width: 100%;
		padding-bottom: 30px;
	}

	.mw-text-right, .register-text-right {
		padding-left: 0;
		padding-right: 0;
		margin: auto;
		width: 100%;
	}

	#about-mid, #about-left, #about-right, #article-paragraph-mid, #article-paragraph-left, #article-paragraph-right {
		padding: 0;
		padding-bottom: 50px;
	}

	#contact-element {
		width: 100%;
		border-radius: 5px;
		background-color: white;
		color: #333333;
		margin-bottom: 10px;
	}

	#footer-contact-text {
		font-weight: bold;
		height: 45px;
		line-height: 45px;
		vertical-align: middle;
		margin-top: -45px;
	}

	.footer-img-mobile {
		background: url('../img/mobile-call-gray.svg') no-repeat;
	}

	.footer-img-phone {
		background: url('../img/phone-call-gray.svg') no-repeat;
	}

	.footer-img-email {
		background: url('../img/email-gray.svg') no-repeat;
	}

	.footer-img {
		background-size: 15px 15px;
		height: 45px;
		background-position: center;
		margin: auto;
		padding: 15px;
	}

	/* breakpoint change */
	.navbar-header {
	      float: none;
	  }
	  .navbar-left,.navbar-right {
	      float: none !important;
	  }
	  .navbar-toggle {
	      display: block;
	  }
	  .navbar-collapse {
	      border-top: 1px solid transparent;
	      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	  }
	  .navbar-fixed-top {
	      top: 0;
	      border-width: 0 0 1px;
	  }
	  .navbar-collapse.collapse {
	      display: none!important;
	  }
	  .navbar-nav {
	      float: none!important;
	  }
	  .navbar-nav>li {
	      float: none;
	  }
	  .navbar-nav>li>a {
	      padding-top: 10px;
	      padding-bottom: 10px;
	  }
	  .collapse.in{
	      display:block !important;
	  }
}

@media (max-width: 767px) { /* XS */
	body {
		padding-top: 67px;
	}

	.navbar-brand h1 {
  		font-size: 30px;
	}

	#mw-link, #register-link {
		margin: auto;
		width: 100%;
		margin-top: 50px;
	}

	.mw-text-left, .register-text-left {
		padding-left: 0;
		padding-right: 0;
		margin: auto;
		width: 100%;
		padding-bottom: 30px;
	}

	.mw-text-right, .register-text-right {
		padding-left: 0;
		padding-right: 0;
		margin: auto;
		width: 100%;
	}

	#about-mid, #about-left, #about-right, #article-paragraph-mid, #article-paragraph-left, #article-paragraph-right {
		padding: 0;
		padding-bottom: 50px;
	}

	#contact-element {
		width: 100%;
		border-radius: 5px;
		background-color: white;
		color: #333333;
		margin-bottom: 10px;
	}

	#footer-contact-text {
		font-weight: bold;
		height: 45px;
		line-height: 45px;
		vertical-align: middle;
		margin-top: -45px;
	}

	.footer-img-mobile {
		background: url('../img/mobile-call-gray.svg') no-repeat;
	}

	.footer-img-phone {
		background: url('../img/phone-call-gray.svg') no-repeat;
	}

	.footer-img-email {
		background: url('../img/email-gray.svg') no-repeat;
	}

	.footer-img {
		background-size: 15px 15px;
		height: 45px;
		background-position: center;
		margin: auto;
		padding: 15px;
	}
}

/* END MEDIA */